/*PRODUCTOS*/
.cards-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/*ITEMINSTRUMENTO*/
.card {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
  width: 60vw !important;
  border: 1px solid rgb(214, 214, 214);
}

.card-box-image {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50% !important;
  padding: 10px;
}

.card-img {
  width: 40% !important;
}

.card-body {
  padding: 10px !important;
  width: 50% !important;
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.card-description {
  font-size: 14px;
  color: #555;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
}

.envioGratis {
  display: flex;
  color: green;
  align-items: center;
}

.envioPago {
  display: flex;
  color: orange;
  align-items: center;
}

.span {
  padding-right: 5px !important;
}

.card-button {
  padding: 10px;
}

/*PRODUCTODETALLE*/
.card-productoDetalle {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 200px;
  margin-right: 50px;
}

/*HOME*/
.containerHome {
  height: 50px;
}