/* Carrito.module.css */

.container {
  max-width: 80vw;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--backgroundColor);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.cartTable {
  width: 100%;
  margin-bottom: 20px;
}

.cartTable th,
.cartTable td {
  text-align: center;
  vertical-align: middle;
}

.cartTable th {
  background-color: var(--backgroundColor);
  padding: 10px;
}

.cartTable td {
  padding: 10px;
}

.thumbnail {
  width: 50px;
  height: auto;
}

.total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cartButton {
  background-color: white;
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  padding: 0;
  cursor: pointer;
  color: white;
  margin: 0 0.5em;
}

.cartInput {
  width: 3em;
  text-align: center;
  margin: 0 0.5em;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  background-color: #f8f9fa;
  color: #495057;
}

.cartButton:hover {
  background-color: #e9ecef;
  color: black;
}

.buttonRemoveItem {
  background-color: red;
}

/* Estilos para las filas (tr) */
tr {
  display: table-row; /* Comportamiento de fila de tabla */
}

/* Estilos para las celdas (td) */
td {
  display: table-cell; /* Comportamiento de celda de tabla */
  padding: 1em; /* Ajusta el padding según necesites */
  text-align: center; /* Centra horizontalmente los contenidos */
  vertical-align: middle; /* Centra verticalmente los elementos */
}

/* Estilos específicos para centrar verticalmente los contenidos dentro de td */
td > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ajusta la altura según necesites */
}
