.cardInstrumento {
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center content vertically */
  width: 100%;
}

.imageContainer {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.instrumentImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 180px;
}

.cardBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.envioGratis,
.envioCosto {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.envioGratis {
  color: green;
}

.envioCosto {
  color: rgb(255, 174, 0);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  background-color: #f8f9fa;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailButton {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonVerDetalle .btn {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
}

#buttonVerDetalle .btn:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* #cart {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
} */
